<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form action="/student-added" method='POST'>
      <label>Enter student's first name
          <input type="text" name="first_name">
      </label>
      <br><br>

      <label>Enter students last_name
          <input type="text" name="last_name">
      </label>
      <br><br>
      <label>Enter GitHub username
          <input type="text" name="github">
      </label>
      <br><br>
      <input type="submit" value="Submit Info">
      <br>
  </form>

</body>
</html>